<html>
  <head>
    <title>Testing Rails<title>
  </head>
  <body>
    <p>
      <object width="550" height="400">
        <param name="movie" value="/babby.swf">
        <embed src="/babby.swf" width="550" height="400">
        </embed>
      </object>
    </p>
    <p><%= link_to "MOTD", motds_path %>
      
  </body>
</html>
